#{$all-button-inputs},

button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
button.alt {
    background-color: transparent;
    border: 1px solid $action-color;
    color: $action-color;
    &:hover,
    &:focus {
      background-color: darken($action-color, 15%);
      color: #fff;
    }
}
button.disabled {
    background-color: $color-light-gray;
    color: $color-dark-gray * 2;
}

// DROPDOWN //
.dropdown:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  float: right;
}
.dropdown {
    -moz-box-shadow:    1px 1px 2px 0px rgba(#000, 0.3);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(#000, 0.3);
    box-shadow:         1px 1px 2px 0px rgba(#000, 0.3);
    padding: 20px 10px 20px 2px;
    margin: 0;
    //border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.3s ease 0;

}
.dropdown:hover {
  background-color: $action-color;
  color: white;
}
.dropdown select {
  color: $color-dark-gray;
  display:inline;
  //width: 90%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.dropdown:hover select {
  color: white;
}

.dropdown select:focus {
    outline: none;
}

// LINK BUTTON //
a.button {
  padding: 0.75em 1em;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
}
a.button:hover, a.select {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 0.3s ease 0s;
}
