// Typography
$heading-font-family: 'avenir-light';
$subcopy-font-family: 'frutiger-light';
$subheading-font-family: 'frutiger-roman';
$base-font-family: 'frutiger-light';

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$color-red: #ED1C24;
$color-light-blue: #00AABC;
$color-blue: #477dca;
$color-lime-green: #8DC63F;
$color-dark-gray: #505050;
$color-light-gray: #B4BBBF;
$color-medium-gray: #999;
$color-error: #FD1068;
$color-latency: #F7941E;
$color-success: #4B9468;

// weights
$light: 250;
$medium: 500;
$heavy: 700;


// Font Colors
$base-background-color: #fff;
$base-font-color: $color-dark-gray;
$action-color: $color-blue;

// Border
$base-border-color: $color-light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset -1px 1px 3px rgba(#000, 0.5);
$form-box-shadow-focus: $form-box-shadow, 0 0 0 adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

.fa-hub:before {
  content: "\e600";
}
