@import "search";
@import "login";
@import "square-notification";
@import "entity";
@import "elapsed-time";
@import "filter-set";

body {
  background-color: $color-light-gray;
}

// COLORS //
.text-has-error {
  color: $color-error;
}
.has-error {
  background-color: $color-error;
}
.text-red {
  color: $color-red;
}
.red {
  background-color: $color-red;
}
.text-has-success {
  color: $color-success;
}
.has-success {
  background-color: $color-success;
}
.text-has-latency {
  color: $color-latency;
}
.has-latency {
  background-color: $color-latency;
}
