.card {
  background-color: white;
  padding: 20px;
  border: 1px solid $color-light-gray;
}
.card .entity {
  float: left;
  h1 {
    padding-top: 15px;
    margin:0;
    line-height: .6em;
  }
}
.card .square-notification {
  float: right;
  margin-left: 10px;
}
.card .success-notification img {
  float: right;
  width: 90px;
}
.card .latency-notification img {
  width: 90px;
  float: right;
}
.card .chart img {
  width: 100%;
  margin-top: 20px;
}
