.card-pn {
  @extend .card;
}

.card-pn .total-time {
  h4, &h3, &h2, &h1, p {
    float: left;
    padding:0;
    margin:0;
  }
}
.card-pn .entity{
  text-align: center;
  width: 100%;
  float: left;
}
.card-pn .entity {
  h1 {
    line-height: .6em;
    padding-top: 15px;
  }
}
.card-pn .latency-container {
  float: left;
  margin-top: 30px;
}
.card-pn .square-notification {
  float: right;
}
.card-pn .latency-time, .card-pn .latency-hub, .card-pn .latency-operator {
  padding-bottom: 10px;
}
.card-pn .icon-customer:before {
  font-size: .7em;
}
.square-notification.bottom {
  margin-top: 50px;
}
