.card-pn {
  background-color: white;
  padding: 20px;
  display: inline-block;
  width: 100%;
  border: 1px solid $color-light-gray;
  @include media($large-screen-up){
    @include span-columns(8 of 12);
  }
}
.card-pn .total-time {
  float: left;
}
.card-pn .middle-bit {
  text-align: center;
  width: 100%;
  float: left;
}
.card-pn .entity {
  h1 {
    line-height: .6em;
    padding-top: 15px;
  }
}
.card-pn .square-notification {
  float: right;
}
.card-pn .latency-container {
  float: left;
  margin-top: 20px;
}
.card-pn .square-notification-issue {
  float: right;
  margin-top: 45px;
}
.card-pn .latency-time, .card-pn .latency-hub, .card-pn .latency-operator {
  padding-bottom: 10px;
}
.card-pn .icon-customer:before {
  font-size: .7em;
}
