.wrapper {
  @include outer-container;
}
.left {
  height: 12500px;
  //padding: 0 0 0 20px;
}
.nav {
  position: fixed;
}
section {
  @include media($large-screen-up) {
    //@include span-columns(9 of 12);
    @include omega();
    //padding-right: 20px !important;
  }
  @include media($small-screen-up) {
    //padding: 0;
  }

  h2:first-child {
    color: $color-red;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-red;
    margin-top: 40px;
  }
}
  /*@include media($small-screen-up){
    .color-card {
      @include span-columns(6 of 6);
    }
  }
  @include media($large-screen-up){
    .color-card {
      @include span-columns(3 of 12);
    }
  }*/



.color-box {
  height: 100px;
}

.dark-text {
  background-color: green;
}
.light-text {
  background-color: red;
}
hr.main-title {
  border: 1px solid $color-light-blue;
}
.header {
  height: 100px;
  background-color: $color-light-blue;
  .logo {
    width:300px;
    padding-top: 10px;
    float: left;
  }
  .header-blurb {
    height:30px;
    float: left;
    padding-top: 60px;
  }
  h1 {
    margin:0;
    padding: 0;
    line-height: 0;
    color: white;
  }
}
.slidingDiv {
background-color: #FFFFFA;
padding:20px;
margin-top:10px;
}

.show_hide {
display:none;
}

// TYPOGRAPHY SECTION //
.sg-headings {
  border-bottom: 1px solid $color-light-gray;
  h1, h2, h3, h4 {
    padding: 20px 0;
    margin:0;
    line-height: 1;
  }
}

// GRID SECTION //
.sg-grid {
  height: 70px;
  text-align: center;
  padding-top:20px;
  border: 1px solid #034D88;
}

// ICONS SECTIONS //
.sg-images {
  text-align: center;
  border: 1px solid $color-light-gray;
  padding: 20px 0;
  background-color: white;
  p.heavy{
    padding-top:10px;
  }
}

// NOTIFICATIONS SECTIONS //
.sg-notifications .square-notification{
  float: left;
  &.has-error  {
    margin-left: 10px;
  }
}

// COLORS SECTION //
.color-card {
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 20px;
  background-color: white;
}
.swatch-preview {
  display: block;
  float: left;
  height: 60px;
  width: 100%;
  margin: 0 0.8em 0.5em 0;
}
.swatch-details {
  padding: 0 0 1em 1em;
}

// ENTITY SECTION //
.entity {
  float: left;
  margin-right: 20px;
  h1 {
    padding-top: 15px;
    margin:0;
    line-height: .6em;
  }
}
