.left {
  @include media($large-screen-up){
    @include span-columns(3 of 12);
    @include omega();
  }
}
section {
  @include media($large-screen-up){
    @include span-columns(9 of 12);
  }
  @include media($small-screen-up){
    padding: 0;
  }
  @include media($large-screen-up){
    padding: 0 2em 1em 2em;
  }
  @include outer-container;

  h2:first-child {
    color: #cf1b41;
  }
  @include media($small-screen-up){
    .color-card {
      @include span-columns(6 of 6);
    }
  }
  @include media($large-screen-up){
    .color-card {
      @include span-columns(3 of 12);
    }
  }

}

.color-box {
  height: 100px;
}

.dark-text {
  background-color: green;
}
.light-text {
  background-color: red;
}

.color-card {
  box-shadow: 0 0 1px rgba(0,0,0,0.4);
}
.swatch-preview {
border-top: 1px solid rgba(0,0,0,0.1);
border-bottom: 1px solid rgba(0,0,0,0.1);
display: block;
float: left;
height: 60px;
width: 100%;
margin: 0 0.8em 0.5em 0;
}
.swatch-details {
  padding: 0 0 1em 1em;
}
