<div class="card-pn">
  <div class="row">
    <div class="total-time">
      <h4 class="has-error">0:3:24:0</h4>
    </div>
    <div class="square-notification">
      <h3>MO</h3>
      <h5>{{fa-icon "fa-long-arrow-left"}}</h5>
    </div>
  </div>
    <div class="entity">
      <h1>12345</h1>
      <small>22,000,000 msgs</small>
    </div>
  <div class="row">
    <div class="latency-container">
      <div class="latency-time">
        <div class="icon-customer has-latency"><p class="has-latency">0:0:0:0</p></div>
      </div>
      <div class="latency-time">
        <div class="icon-hub has-latency"><p class="has-latency">0:0:0:0</p></div>
      </div>
      <div class="latency-time">
        <div class="icon-operator has-error"><p class=
          has-error>0:0:0:0</p></div>
      </div>
    </div>
    <div class="square-notification bottom">
      <h3>80<span class="small-percent">%</span></h3>
      <h5>456-0</h5>
    </div>
  </div>
</div>
