<div class="card">
  <div class="top-bit">
    <div class="entity">
      <h1>12345</h1>
      <small>22,000,000 msgs</small>
    </div>
    <div class="square-notification-issue">
      <h3>80<span class="small-percent">%</span></h3>
      <h5>456-0</h5>
    </div>
    <div class="success-notification">
      <img src="assets/images/success.svg">
    </div>
    <div class="latency-notification">
      <img src="assets/images/latency.svg">
    </div>
  </div>
  <div class="chart">
    <img src="assets/images/chart.svg">
  </div>
</div>
