<div class="card-pn">
  <div class="top-bit">
    <div class="total-time">
      <h4 class="text-has-error">0:3:24:0</h4>
    </div>
    <div class="square-notification">
      <h3>MO</h3>
      <h5>{{fa-icon "fa-long-arrow-left"}}</h5>
    </div>
  </div>
  <div class="middle-bit">
    <div class="entity">
      <h1>12345</h1>
      <small>22,000,000 msgs</small>
    </div>
  </div>
  <div class="bottom-bit">
    <div class="latency-container">
      <div class="latency-time text-has-latency">
        <div class="icon-customer"><p>0:0:0:0</p></div>
      </div>
      <div class="latency-time text-has-latency">
        <div class="icon-hub"><p>0:0:0:0</p></div>
      </div>
      <div class="latency-time">
        <div class="icon-operator"><p class="has-error">0:0:0:0</p></div>
      </div>
    </div>
    <div class="square-notification">
      <h3>80<span class="small-percent">%</span></h3>
      <h5>456-0</h5>
    </div>
  </div>
</div>
