<div class="filter-set">
  <div class="search">
    <input type="text" id="textField" placeholder="SC, TN">
    <div class="inner-icon-button">
      <button>{{fa-icon "fa-search"}}</button>
    </div>
  </div>
  <div class="select-style">
    <select>
      <optgroup label="Option Group 1">
        <option value="1"><p>Option 1</p></option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </optgroup>
      <optgroup label="Option Group 2">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </optgroup>
    </select>
  </div>
</div>
