<div class="filter-set">
  <div class="search">
    <input type="text" id="textField" placeholder="SC, TN">
    <div class="inner-icon-button">
      <button>{{fa-icon "fa-search"}}</button>
    </div>
  </div>
  <div class="dropdown">
    <select>
      <option value="1">30 days</option>
      <option value="2">29 days</option>
      <option value="3">5 days</option>
    </select>
  </div>
  <div class="dropdown small-hidden">
    <select>
      <option value="1">MO / MT</option>
      <option value="2">29 days</option>
      <option value="3">5 days</option>
    </select>
  </div>
  <div class="dropdown small-hidden">
    <select>
      <option value="1">Time Zone</option>
      <option value="2">EST</option>
      <option value="3">PT</option>
    </select>
  </div>
  <div class="dropdown small-hidden">
    <select>
      <option value="1">USA</option>
      <option value="2">29 days</option>
      <option value="3">5 days</option>
    </select>
  </div>
</div>
