<div class="login">
  <div class="username">
    <label>
      <input type="text" id="textField" placeholder="username">
    </label>
  </div>
  <div class="pass">
    <label>
      <input type="text" id="textField" placeholder="password">
    </label>
  </div>
  <button>Login</button>
  <div class="reset-pass large-6of10 small-3of6 shift-5">
    <a href="#">Reset Password</a>
  </div>
</div>
