
  <div class="search">
    <label>Default Label
      <input type="text" id="textField" placeholder="text / password / search / email">
      <div class="inner-icon-button">
        <button>{{fa-icon "fa-search"}}</button>
      </div>
    </label>
  </div>
